* {
    font-family: 'Kanit', sans-serif;
    color: black;
    margin: 0;
}

body {
    background: rgb(111, 171, 190);
}

header h1 {
    color: white;
    font-size: 60px;
}

p {
    font-size: 2rem;
}

.card-header {
    font-size: 25px;
}

.card {
    width: 100%;
    border: 5px, solid;
    border-color: black;
    background-color: beige;
}

.form-title {
    font-size: 1.4em;
}

.searchsection {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vh;
}

#results {
    height: 20px;
    width: 200px;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

#todays-weather {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 2px;
    height: 50px;
    width: 50px;
}